doctype html
html
    head
        title asker
        style.
            html, body, #container {
                width: 100%;
                height: 100%;                
            }

            #container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #container > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

    body
        div#container: div
            p Provide a yes or no question: 
            textarea#question(type="text" placeholder="Question")
            button(onclick="window.location.href = '/choose/?q='+btoa(document.getElementById('question').value)") Submit