-
    var projects = [
        {
            title: '8connect4',
            name: '8connect4',
            description: 'Connect 4 played against multiple opponents at once. Every move you make is duplicated across multiple boards.',
            link: 'https://8c4.ocean.lol',
            color: '#141414',
            dark: true,
        },

        {
            title: 'Clueless Captains Online',
            name: 'cluelesscaptains',
            description: 'A social deduction game where the Sea Monsters are trying to sink the Pirates\' ship before they can steal all their treasure.',
            link: 'https://cc.ocean.lol',
            color: '#feffc7',
            dark: false,
        },

        {
            title: 'Geminer (beta)',
            name: 'geminer',
            description: 'Mine minerals and use them as pixels in drawings.',
            link: 'https://geminer-beta.ocean.lol',
            color: '#ff564a',
            dark: false,
        },

        {
            title: 'Collaborative Tier Lists',
            name: 'ctl',
            description: 'CTL lets anyone do a tier list, then the average tiers of each item are shown as a tier list.',
            link: 'https://ctl.ocean.lol',
            color: '#e8e8e8',
            dark: false,
        },

        {
            title: 'PlotTweening',
            name: 'pt',
            description: 'Form a story by everyone drawing what happens inbetween events.',
            link: 'https://tweening.ocean.lol',
            color: '#bfffd0',
            dark: false,
        },

        {
            title: 'RateTune',
            name: 'ratetune',
            description: 'A tool where a group of people can rate each other\'s music.',
            link: 'https://ratetune.ocean.lol',
            color: '#002b36',
            dark: true,
        },

        /*{
            title: 'The Floob Experiment',
            name: 'floob',
            description: 'Floobs were a failed attempt to create a synthetic pet. Attempt to understand one by taking care of them!',
            link: 'https://floob.ocean.lol',
            color: '#9f00ff',
            dark: false,
        },*/
        
        {
            title: 'Fairy Chess',
            name: 'chess',
            description: 'Quickly create a custom chess board with fairy pieces and challenge a friend to play on it against you.',
            link: 'https://chess.ocean.lol',
            color: '#ffe0ff',
            dark: false,
        },

        {
            title: 'Open Source Stories',
            name: 'oss',
            description: 'A long-term game of telephone.',
            link: 'https://oss.ocean.lol',
            color: '#89b66f',
            dark: false,
        },

        {
            title: 'space-sim',
            name: 'space-sim',
            description: 'fly rouned in a space ship lol',
            link: 'http://gh.ss.ocean.lol',
            color: '#141414',
            dark: true,
        },

        {
            title: 'Identificator',
            name: 'identificator',
            description: 'An authorization service made to be super fast and easy to develop with (at the expense of user privacy).',
            link: 'https://id.ocean.lol',
            color: '#e8e8e8',
            dark: false,
        },

        /*{
            title: 'Gallery of world leaders',
            name: '',
            description: '',
            link: './leaders'
        },*/

        {
            title: 'RPS-101 online',
            name: 'rps101online',
            description: 'Basically a matchmaking service for rock paper scissors. I was bored, ok?',
            link: 'https://rps101.ocean.lol',
            color: '#fcff30',
            dark: false,
        },

        {
            title: 'Low-memory twitter',
            name: 'lmt',
            description: 'A twitter clone where only one tweet can be stored at a time.',
            link: 'https://lmt.ocean.lol',
            color: '#6324b6',
            dark: true,
        },

        {
            title: 'shadyurls',
            name: 'shadyurls',
            description: 'Create web pages which have really shady URLs.',
            link: 'https://shadyurls.ocean.lol',
            color: '#e8e8e8',
            dark: false,
        },

        /*{
            title: 'Collaborative Counting',
            name: '',
            description: '',
            link: 'https://count.ocean.lol'
        },*/

        {
            title: 'hexer',
            name: 'hexer',
            description: 'A Discord bot which gives every user their own role and lets them customise its color and name.',
            link: 'https://hexer.ocean.lol',
            color: '#4d4d4d',
            dark: true,
        },
    ];

    for (let project of projects)
        project.logoURL = `media/project-logos/${project.name}.png`;