-
    var socialMedia = [
        ['Email', '#email'],
        ['Github', 'https://github.com/OceanUwU'],
        ['Twitter', 'https://twitter.com/i/user/3021137703'],
        ['Discord', '#discord'],
        ['Guilded', 'https://guilded.gg/oceans-server'],
        ['Spotify', 'https://open.spotify.com/user/21qkyb2od5lnjfgacqoosptly']
    ];