-
    var all = [
        {
            "title": "Obama",
            "dir": "Bamas",
            "items": [
                ["Globama.png", "Globama", "Which former US president can see in the dark?", "In 1933 Glowbama saved 206 lives in the Duddleberry mines after a cave in. Unfortunately he blinded all 206 in the process.", "image"],
                ["Also Globama.png", "Also Globama", "Why can't I see anything?", "He caused the cave in.", "image"],
                ["Bimbobama.png", "Bimbobama", "Who was the first female US president?", "In 2004 she accidently called nukes on Guatemala thinking it was a button to request more guacamole.", "image"],
                ["Grobama.png", "Grobama", "Which former US president now lives in a greenhouse?", "A genetically modified plant who looks familiar...", "image"],
                ["Hollowbama.png", "Hollowbama", "Which former US president was empty on the inside?", "\"  \"", "image"],
                ["Nobama.png", "Nobama", "Which former US president doesn't exist?", "...", "image"],
                ["Oh Nobama.png", "Oh Nobama", "Which former US president just made a terrible mistake?", "He's still screaming, and what he did is still unknown.", "image"],
                ["Snobama.png", "Snobama", "Which former US president is only pres(id)ent during winter?", "Thats not the only carrot he has.", "image"],
                ["Hobama.png", "Hobama", "Which former US president clearly had two jobs?", "ha ur mum lol", "image"],
                ["Hoebama.png", "Hoebama", "Which former US president can you now find in B&Q?", "Only $12.99, get a 1kg bag of mulch free with any purchase before the offer runs out!", "image"],
                ["Ho Ho Hobama.png", "Ho Ho Hobama", "Which former US president was the most festive?", "Hates Jews and the poor.", "image"],
                ["Brobama.png", "Brobama", "Which former US president was the coolest?", "bama moment", "image"],
                ["Crowbama.png", "Crowbama", "Which former US president can fly?", "SQUAWK!", "image"],
                ["Also Crowbama.png", "Also Crowbama", "Which former US president was a freak accident of genetic engineering?", "End me...", "image"],
                ["Lobama.png", "Lobama", "Who was the shortest US president?", "\"Hey! Down here!\"", "image"],
                ["Mariobama.png", "Mariobama", "Which former US president wished America had more mushrooms?", "It's a me!", "image"],
                ["Silobama.png", "Silobama", "Where's my grain?", "Guardian of The Grain.", "image"],
                ["Toebama.png", "Toebama", "Who's ingrown?", "*toe noises*", "image"],
                ["Infernobama.png", "Infernobama", "Why's the country so chaotic?", "\"AAAAAAAAAAAAAAAAAA\"", "image"],
                ["Tobaccobama.png", "Tobaccobama", "Which former US president had a smoking addiction?", "He unintentionally painted the Whitehouse walls yellow.", "image"],
                ["Casinobama.png", "Casinobama", "Which former US president had a gambling addiction?", "That's where all the tax money went!", "image"],
                ["Stobama.png", "Stobama", "What's that rattling around in my bag?", "How'd he get here?", "image"],
                ["Emobama.png", "Emobama", "Which former US president took the job despite being depressed, sending the country spiralling into a state of debt and economic depression?", "Taxes aren't the only thing he's cutting!", "image"],
                ["Slobama.png", "Slobama", "Which former US president invented Internet Explorer?", "<i>The text for Slobama could not be found. Try again later.</i>", "image"],
                ["Mowbama.png", "Mowbama", "Which former US president has the tidiest garden?", "Stealing jobs from Whitehouse gardeners since 1995.", "image"],
                ["Towbama.png", "Towbama", "Which former US president is currently asking you to move your car?", "\"Trust me, you don't want to pay the fine for this. \"", "image"],
                ["Gobama.png", "Gobama", "Which former US president is always supportive?", "\"You can do it! Yeah! Move!\"", "image"],
                ["Also Gobama.png", "Also Gobama", "Which former US president was the fastest?", "VRMMMMMMMMMM", "image"],
                ["Sewbama.png", "Sewbama", "Which former US president made his own socks?", "Grandma ain't got nothing compared to him", "image"],
                ["Sobama.png", "Sobama?", "Which former US president didn't really care about the country?", "\"We're in debt. So?\"", "image"],
                ["Oreobama.png", "Oreobama", "Which former US president was the tastiest?", "\"Contrary to popular belief, I don't think mouths are cozy.\"", "image"],
                ["owobama.png", "owobama", "Which former US president said the iconic quote \"owo\"?", "*notices taxpayers*", "image"],
                ["Rowbama.png", "Rowbama", "Which former US president now lives in a kayak?", "Row row down the state....", "image"],
                ["Sumobama.png", "Sumobama", "Which former US president could probably beat you in a fight?", "SumoBAMa", "image"],
                ["Casiobama.png", "Casiobama", "Which former US president could tell the time, whatever the time?", "\"Tick tock.\"", "image"],
                ["Herobama.png", "Herobama", "Which former US president can you always count on in times of need?", "Not the hero America needs, but the one they elected.", "image"],
                ["Joe Bama.png", "Joe Bama", "Who's Joe?", "Has a job in HR.", "image"],
                ["Obama.png", "Obama", "Which former US president is called Obama?", "Surname unknown.", "image"]
            ]
        },

        {
            "title": ".",
            "dir": "pages",
            "items": []
        }
    ];
